# dependencies
/node_modules
package.json
package-lock.json
yarn-error.log
yarn.lock

**/__pycache__/
**/migrations/
db.sqlite3

.coverage
coverage-reports/
xunit-reports/
.pytest_cache/

**/.DS_Store
