django==4.1.3

django-cors-headers
# pymysql
# mysqlclient==2.1.0

pytest
pytest-django
coverage
zmail

# TODO Start: [Student] Add dependency on uWSGI

# TODO End: [Student] Add dependency on uWSGI

channels
channels_redis
daphne
websockets
pybase64
opencv-python
psycopg2-binary
uvicorn
requests
asyncio
wave
numpy
